<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Ajab Home</title>
</head>
<body>
<h1>Welcome to Ajab ticket city!</h1>
<p><a th:href="@{/admin}">Admin portal</a></p>
<p><a th:href="@{/employee}">Employee portal</a></p>
<p><a th:href="@{/customer}">Customer portal</a></p>
</body>
</html>